* text=auto

# Force text
*.gd text
*.cs text
*.tscn text
*.import text
*.project text

*.png filter=lfs diff=lfs merge=lfs binary
*.wav filter=lfs diff=lfs merge=lfs binary
*.ase filter=lfs diff=lfs merge=lfs binary
*.aseprite filter=lfs diff=lfs merge=lfs binary
